<%- include partials/header -%>
<div class="jumbotron">
  <h1 class="display-4">VotingApp - People's opinions matter!</h1>
  <p class="lead">In this single website you will be able to create, view, vote on polls created by you and others around the internet!</p>
  <hr class="my-4">
  <p>So what are you waiting for? Sign up for a free account!</p>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign me up!</a>
  <p>Already got an account? Log in to start voting!</p> 
  <a class="btn btn-primary btn-lg" href="/login" role="button">Voting Time!</a>
</div>
<%- include partials/footer -%>